* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}
section {
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  max-width: 250px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 160px;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 800px;
}
.card img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img {
  border-radius: 5px;
}
.d-none {
  display: none;
}
.buttons {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controller {
  background-color: white;
  position: absolute;
  top: 50%;
  padding: 10px;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
#modal-close {
  top: 0;
  right: 0;
}
